apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hackazon-ingress
spec:
  tls:
  - hosts:
    - hackazon.{{ default_domain }}
    secretName: hackazon
  rules:
  - host: hackazon.{{ default_domain }}
    http:
      paths:
      - backend:
          service:
            name: hackazon-deployment
            port:
              number: 80
        path: /
        pathType: Exact
